<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NRules" version="1.0.1" targetFramework="net48" />
  <package id="NRules.Fluent" version="1.0.1" targetFramework="net48" />
  <package id="NRules.RuleModel" version="1.0.1" targetFramework="net48" />
  <package id="NRules.Runtime" version="1.0.1" targetFramework="net48" />
</packages>